/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #f2f5f7;}


.mat-tab-body.mat-tab-body-active {
  overflow-y: inherit !important;
}